<ion-card class="card">
  <ion-card-header>
    <!-- <ion-card-subtitle class="ion-text-capitalize"
      >informacion de utilizacion</ion-card-subtitle
    > -->
    <ion-card-title>UTILIZACION</ion-card-title>
  </ion-card-header>
  <ion-card-content class="justificado">
    En este tab de inicio se encuentra la informacion de uso de la aplicacion.
    Consta de tres tabs los cuales lo llevaran a navegar en las siguientes
    opciones:
    <ion-list class="card">
      <ion-item>
        <ion-label class="spaced-label">
          <span class="label-item">Informacion</span>
          <span>|</span>
          <span class="label-item">Agregar</span>
          <span>|</span>
          <span class="label-item">Listado</span>
        </ion-label>
        
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card class="card">
  <ion-card-header>
    <ion-card-subtitle>DESCRIPCION</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-card-subtitle class="subtitle">Informacion</ion-card-subtitle>
      <ion-item>
        Seleccione el tab que nesecite para realizar una operacion de ingreso o busqueda
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-card-content>
    <ion-list>
      <ion-card-subtitle class="subtitle">Agregar</ion-card-subtitle>
      <ion-item>
        En este tab se encuentra el formulario para agregar una nueva nota.
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-card-content>
    <ion-list>
      <ion-card-subtitle class="subtitle">Listado</ion-card-subtitle>
      <ion-item>
        En este tab se encuentra el listado de todas las notas.
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
